header{
    padding-top: 1rem ;
    padding-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;

    div{
      
        .danhmuc{
            &>ul{
               list-style-type: none;
               display: flex;
               justify-content:space-between;
               margin-bottom: 0;
               
              
               }
               ul{
                list-style-type: none;
                padding-left: .5rem;
                li{
                    cursor: pointer;
                    color: blue($color: #000000)
                   
                }
                li.auth{
                    text-align: right;

                }
            }
            }
          
        }
      

    

  
}