.xe16{
    background-color: #dad6d63d;
    padding: 1rem;
    .xe16__item{
        display: flex;
        &>p{
            margin-right: 1rem;

        }
        &.xe16__dayA{
            

        }

    }
    
}